.header{
    position: fixed;
    display: flex;
    background-color: #1f58ad;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    width: 100%;
    z-index: 999;
}

.search-form{
    font-size: 20px;
    width: auto;
}

.search-form__input{
    border-radius: 5px;
}